<a href="https://colab.research.google.com/github/vrajpatel2312/Crime-Analysis/blob/master/clean_crime_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import csv
import pandas as pd

In [157]:
data = pd.read_csv('final.csv')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [0]:
data = pd.DataFrame(data)

In [0]:
data.columns
data=data.dropna()

In [0]:
temp=[]
count=0
for i in data['CMPLNT_FR_DT']:
  temp.append(i.split('/'))

In [162]:
import re
e = pd.DataFrame(temp,columns=['month','day','year'])     


re1='(0)'	# Any Single Character 1
re2='(.)'	# Any Single Character 2

rg = re.compile(re1+re2,re.IGNORECASE|re.DOTALL)
temp1=[]
for i in e['month']:
  if i != '10':
    
    temp1.append(i.replace('0',''))
  else:
    temp1.append(i)
temp2=[]
for i in e['year']: 
  i = int(i)+3   
  temp2.append(i)

['2015' '2013' '2009' '2014' '2011' '2004' '2012' '1992' '1969' '2010'
 '1979' '2008' '2006' '2007' '2005' '2001' '1982' '1015' '1995' '1993'
 '1965' '2000' '2002' '1990' '1999' '1996' '2003' '1987' '1975' '1989'
 '1915' '1986' '1981' '1950' '1998' '1978' '1997' '1910' '1991' '1955'
 '1958' '1994' '1974' '1914' '1977' '1980' '1930' '1988' '1913' '1941'
 '1945' '1954' '1971' '1973']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048510 entries, 0 to 1048509
Data columns (total 3 columns):
month    1048510 non-null object
day      1048510 non-null object
year     1048510 non-null object
dtypes: object(3)
memory usage: 24.0+ MB

In [193]:
data['month']= temp1
data['year']=temp2
# data=data.drop(columns=['CMPLNT_FR_DT'])
data.BORO_NM.unique()

array(['BRONX', 'QUEENS', 'MANHATTAN', 'BROOKLYN', 'STATEN ISLAND'],
      dtype=object)

In [0]:
count = pd.DataFrame(columns=['year','month','region','count'])
# value = data[(data["year"]==2018) & (data['month']=='1') & (data['BORO_NM']=='BRONX')].count()
# print(value['year'])

for i in data.year.unique():
  print(i) 
  for j in data.month.unique():
    
    for k in data.BORO_NM.unique():
      
      value =data[(data["year"]==i) & (data['month']==j) & (data['BORO_NM']==k)].count()
      count = count.append({'year' : i,'month':j , 'region' :k, 'count': value['year']} , ignore_index=True)

2018
2016
2012
2017
2014
2007
2015

In [223]:
count

      year  ...                                              count
0     2018  ...  BORO_NM    7704
month      7704
year       770...
1     2018  ...  BORO_NM    7043
month      7043
year       704...
2     2018  ...  BORO_NM    8504
month      8504
year       850...
3     2018  ...  BORO_NM    10641
month      10641
year       1...
4     2018  ...  BORO_NM    1677
month      1677
year       167...
5     2018  ...  BORO_NM    8481
month      8481
year       848...
6     2018  ...  BORO_NM    7784
month      7784
year       778...
7     2018  ...  BORO_NM    9417
month      9417
year       941...
8     2018  ...  BORO_NM    11742
month      11742
year       1...
9     2018  ...  BORO_NM    1773
month      1773
year       177...
10    2018  ...  BORO_NM    8880
month      8880
year       888...
11    2018  ...  BORO_NM    8186
month      8186
year       818...
12    2018  ...  BORO_NM    9583
month      9583
year       958...
13    2018  ...  BORO_NM    12518
month      12518
year       1...
14    2018  ...  BORO_NM    1935
month      1935
year       193...
15    2018  ...  BORO_NM    8207
month      8207
year       820...
16    2018  ...  BORO_NM    7377
month      7377
year       737...
17    2018  ...  BORO_NM    8755
month      8755
year       875...
18    2018  ...  BORO_NM    11245
month      11245
year       1...
19    2018  ...  BORO_NM    1674
month      1674
year       167...
20    2018  ...  BORO_NM    9092
month      9092
year       909...
21    2018  ...  BORO_NM    8079
month      8079
year       807...
22    2018  ...  BORO_NM    9619
month      9619
year       961...
23    2018  ...  BORO_NM    11843
month      11843
year       1...
24    2018  ...  BORO_NM    1950
month      1950
year       195...
25    2018  ...  BORO_NM    9378
month      9378
year       937...
26    2018  ...  BORO_NM    7987
month      7987
year       798...
27    2018  ...  BORO_NM    9597
month      9597
year       959...
28    2018  ...  BORO_NM    12220
month      12220
year       1...
29    2018  ...  BORO_NM    1884
month      1884
year       188...
...    ...  ...                                                ...
3210  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3211  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3212  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3213  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3214  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3215  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3216  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3217  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3218  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3219  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3220  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3221  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3222  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3223  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3224  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3225  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3226  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3227  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3228  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3229  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3230  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3231  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3232  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3233  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3234  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3235  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3236  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3237  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3238  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...
3239  1976  ...  BORO_NM    0
month      0
year       0
dtype: ...

[3240 rows x 4 columns]