<a href="https://colab.research.google.com/github/vrajpatel2312/Crime-Analysis/blob/master/clean_crime_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import csv
import pandas as pd

In [11]:
data = pd.read_csv('datasets/uncleaned_crime_report.csv')

In [12]:
data = pd.DataFrame(data)

In [13]:
data.columns
data=data.dropna()

In [14]:
temp=[]
count=0
for i in data['CMPLNT_FR_DT']:
  temp.append(i.split('/'))

In [15]:
e = pd.DataFrame(temp,columns=['month','day','year'])
temp1=[]
for i in e['month']:
  if i != '10':
    
    temp1.append(i.replace('0',''))
  else:
    temp1.append(i)
temp2=[]
for i in e['year']: 
  i = int(i)+3   
  temp2.append(i)
data['month']= temp1
data['year']=temp2

In [16]:
count = pd.DataFrame(columns=['year','month','region','count'])
# value = data[(data["year"]==2018) & (data['month']=='1') & (data['BORO_NM']=='BRONX')].count()
# print(value['year'])

for i in data.year.unique():
  if i > 2016:
    print(i)
    for j in data.month.unique():
      
      for k in data.BORO_NM.unique():
        
        value =data[(data["year"]==i) & (data['month']==j) & (data['BORO_NM']==k)].count()
        count = count.append({'year' : i,'month':j , 'region' :k, 'count': value['year']} , ignore_index=True)

2018
2017

In [17]:
write = count.to_csv(path_or_buf='datasets/genertrated.csv')

array([2018, 2016, 2012, 2017, 2014, 2007, 2015, 1995, 1972, 2013, 1982,
       2011, 2009, 2010, 2008, 2004, 1985, 1018, 1998, 1996, 1968, 2003,
       2005, 1993, 2002, 1999, 2006, 1990, 1978, 1992, 1918, 1989, 1984,
       1953, 2001, 1981, 2000, 1913, 1994, 1958, 1961, 1997, 1977, 1917,
       1980, 1983, 1933, 1991, 1916, 1944, 1948, 1957, 1974, 1976],
      dtype=int64)